In [22]:
# El primer paso es importar la  libreia de pandas y definirlo como pd
import pandas as pd

In [23]:
# Luego para cargar nuestro csv utilizamos esta (pandas.read_csv():) de esta forma leemos el archivo  
df1 = pd. read_csv ( "062017_Tabulados_pobreza.csv" )

In [26]:
# luego de leer el archivo lo imprimimos  
df1

   Nivel_Nacional              1           2       3          4
0           Meses       Periodo   Incidencia  Brecha  severidad
1           Marzo           2014        24.6     8.6        4.3
2           Marzo           2015        24.1     8.9        4.7
3           Marzo           2016        25.4     9.9        5.5
4           Marzo           2017        24.4     9.1        4.8
5           Marzo       2007 (2)           -       -          -
6           Marzo           2008          35    14.2          8
7           Marzo       2009 (2)           -       -          -
8           Marzo           2010          33    13.7        7.8
9            Junio          2011        29.6    11.4        6.2
10           Junio          2012        25.3     9.4        4.9
11           Junio          2013        23.7     8.4        4.4
12           Junio          2014        24.5     8.5        4.2
13           Junio          2015          22     7.7        3.9
14           Junio          2016        23.7     8.6        4.6
15           Junio          2017        23.1     8.3        4.4
16           Junio          2014        24.8     8.7        4.4
17     Septiembre           2015        22.4     7.7        3.9
18     Septiembre           2016        22.6     8.1        4.2
19     Septiembre           2007        36.7    15.3        8.7
20     Septiembre           2008        35.1    14.5        8.1
21       Diciembre          2009          36    14.5          8
22       Diciembre          2010        32.8    12.7        6.8
23       Diciembre          2011        28.6    10.8        5.7
24       Diciembre          2012        27.3    10.5        5.8
25       Diciembre          2013        25.6       9        4.5
26       Diciembre          2014        22.5     7.9          4
27       Diciembre          2015        23.3     8.5        4.5
28       Diciembre          2016        22.9     8.6        4.7

In [42]:
# Pode extraer datos con una funcion de pandas basado en posici√≥n de esta forma podemos 
#dar la posicion de los datos que queremos extarer desde nuestro csv
df1. iloc [ 0 : 3 , 0 : 2 ]

  Nivel_Nacional           1
0          Meses    Periodo
1          Marzo        2014
2          Marzo        2015

In [46]:
df1. iloc [ 0 : 3 , 0 : 3 ]

  Nivel_Nacional           1           2
0          Meses    Periodo   Incidencia
1          Marzo        2014        24.6
2          Marzo        2015        24.1

df1. iloc [ 0 : 4 , 0 : 5 ]

In [50]:
# como podemos observar le podemos indicar la posicion que deseamos extraer desde nuestro csv 
df1. iloc [ 0 : 4 , 2 : 5 ]

            2       3          4
0  Incidencia  Brecha  severidad
1        24.6     8.6        4.3
2        24.1     8.9        4.7
3        25.4     9.9        5.5

In [58]:
# se puede dar la posicion inicial y el indice de inicio para poder extraer los datos que se nesecite 
df1. ix [ 0 : 3 , "1" : "2"]

           1           2
0   Periodo   Incidencia
1       2014        24.6
2       2015        24.1
3       2016        25.4