In [3]:
# El primer paso es importar la  libreia de pandas y definirlo como pd
import pandas as pd

In [4]:
# Luego para cargar nuestro csv utilizamos esta (pandas.read_csv():) de esta forma leemos el archivo  
df1 = pd. read_csv ( "062017_Tabulados_pobreza.csv" )

In [5]:
# luego de leer el archivo lo imprimimos  
df1

         Meses       Periodo  Incidencia Brecha severidad
0        Marzo           2014       24.6    8.6       4.3
1        Marzo           2015       24.1    8.9       4.7
2        Marzo           2016       25.4    9.9       5.5
3        Marzo           2017       24.4    9.1       4.8
4        Marzo       2007 (2)          -      -         -
5        Marzo           2008         35   14.2         8
6        Marzo       2009 (2)          -      -         -
7        Marzo           2010         33   13.7       7.8
8         Junio          2011       29.6   11.4       6.2
9         Junio          2012       25.3    9.4       4.9
10        Junio          2013       23.7    8.4       4.4
11        Junio          2014       24.5    8.5       4.2
12        Junio          2015         22    7.7       3.9
13        Junio          2016       23.7    8.6       4.6
14        Junio          2017       23.1    8.3       4.4
15        Junio          2014       24.8    8.7       4.4
16  Septiembre           2015       22.4    7.7       3.9
17  Septiembre           2016       22.6    8.1       4.2
18  Septiembre           2007       36.7   15.3       8.7
19  Septiembre           2008       35.1   14.5       8.1
20    Diciembre          2009         36   14.5         8
21    Diciembre          2010       32.8   12.7       6.8
22    Diciembre          2011       28.6   10.8       5.7
23    Diciembre          2012       27.3   10.5       5.8
24    Diciembre          2013       25.6      9       4.5
25    Diciembre          2014       22.5    7.9         4
26    Diciembre          2015       23.3    8.5       4.5
27    Diciembre          2016       22.9    8.6       4.7

In [6]:
# Pode extraer datos con una funcion de pandas basado en posición de esta forma podemos 
#dar la posicion de los datos que queremos extarer desde nuestro csv
df1. iloc [ 0 : 3 , 0 : 2 ]

   Meses   Periodo
0  Marzo       2014
1  Marzo       2015
2  Marzo       2016

In [7]:
df1. iloc [ 0 : 3 , 0 : 3 ]

   Meses   Periodo  Incidencia
0  Marzo       2014       24.6
1  Marzo       2015       24.1
2  Marzo       2016       25.4

df1. iloc [ 0 : 4 , 0 : 5 ]

In [8]:
# como podemos observar le podemos indicar la posicion que deseamos extraer desde nuestro csv 
df1. iloc [ 0 : 4 , 2 : 5 ]

  Incidencia Brecha severidad
0       24.6    8.6       4.3
1       24.1    8.9       4.7
2       25.4    9.9       5.5
3       24.4    9.1       4.8

In [13]:
# se puede dar la posicion inicial y el indice de inicio para poder extraer los datos que se nesecite 
df1. ix [ 0 : 3 , "Incidencia" : "severidad"]

  Incidencia Brecha severidad
0       24.6    8.6       4.3
1       24.1    8.9       4.7
2       25.4    9.9       5.5
3       24.4    9.1       4.8

In [14]:
df1.head()

   Meses       Periodo  Incidencia Brecha severidad
0  Marzo           2014       24.6    8.6       4.3
1  Marzo           2015       24.1    8.9       4.7
2  Marzo           2016       25.4    9.9       5.5
3  Marzo           2017       24.4    9.1       4.8
4  Marzo       2007 (2)          -      -         -

In [15]:
df1 = df1[1:]

In [16]:
df1.shape

(27, 5)

In [17]:
df1.values

array([['Marzo ', '2015', '24.1', '8.9', '4.7'],
       ['Marzo ', '2016', '25.4', '9.9', '5.5'],
       ['Marzo ', '2017', '24.4', '9.1', '4.8'],
       ['Marzo ', '    2007 (2)', '-', '-', '-'],
       ['Marzo ', '2008', '35', '14.2', '8'],
       ['Marzo ', '   2009 (2)', '-', '-', '-'],
       ['Marzo ', '2010', '33', '13.7', '7.8'],
       ['Junio', '2011', '29.6', '11.4', '6.2'],
       ['Junio', '2012', '25.3', '9.4', '4.9'],
       ['Junio', '2013', '23.7', '8.4', '4.4'],
       ['Junio', '2014', '24.5', '8.5', '4.2'],
       ['Junio', '2015', '22', '7.7', '3.9'],
       ['Junio', '2016', '23.7', '8.6', '4.6'],
       ['Junio', '2017', '23.1', '8.3', '4.4'],
       ['Junio', '2014', '24.8', '8.7', '4.4'],
       ['Septiembre ', '2015', '22.4', '7.7', '3.9'],
       ['Septiembre ', '2016', '22.6', '8.1', '4.2'],
       ['Septiembre ', '2007', '36.7', '15.3', '8.7'],
       ['Septiembre ', '2008', '35.1', '14.5', '8.1'],
       ['Diciembre', '2009', '36', '14.5', '8'],
       ['Diciembre', '2010', '32.8', '12.7', '6.8'],
       ['Diciembre', '2011', '28.6', '10.8', '5.7'],
       ['Diciembre', '2012', '27.3', '10.5', '5.8'],
       ['Diciembre', '2013', '25.6', '9', '4.5'],
       ['Diciembre', '2014', '22.5', '7.9', '4'],
       ['Diciembre', '2015', '23.3', '8.5', '4.5'],
       ['Diciembre', '2016', '22.9', '8.6', '4.7']], dtype=object)

In [18]:
df1.index

RangeIndex(start=1, stop=28, step=1)

In [19]:
df1.columns

Index([u'Meses ', u' Periodo ', u'Incidencia', u'Brecha', u'severidad'], dtype='object')

In [23]:
df2 = df1.set_index('severidad')

In [24]:
df2.head()

           Meses       Periodo  Incidencia Brecha
severidad
4.7        Marzo           2015       24.1    8.9
5.5        Marzo           2016       25.4    9.9
4.8        Marzo           2017       24.4    9.1
-          Marzo       2007 (2)          -      -
8          Marzo           2008         35   14.2

In [30]:
datos = df1.drop(['Brecha','severidad'], axis=1)
datos.head()

   Meses       Periodo  Incidencia
1  Marzo           2015       24.1
2  Marzo           2016       25.4
3  Marzo           2017       24.4
4  Marzo       2007 (2)          -
5  Marzo           2008         35